{% extends '::base.html.twig' %}

{% block title %}
	{% if teacher is defined %}Édition du {{ 'navbar.teacher'|trans }} : {{ teacher }} {% else %} - Création d'un {{ 'navbar.teacher'|trans }}{% endif %}
{% endblock %}

{% block action %}
	{% if teacher is defined %}
		<a class="btn purple-wisteria" href="{{ path('lifebooster_front_teacher_show', {'id': teacher.id}) }}"><i class="fa fa-eye"></i> {{ 'general.show'|trans }}</a>
	{% endif %}
{% endblock %}

{% block body %}
<div class="portlet box blue-hoki">
	<div class="portlet-title">
		<div class="caption">
			<i class="fa fa-file-text-o"></i>
			Formulaire de création d'un professeur
		</div>
	</div>
	<div class="portlet-body form">
		<form action="" class="form-horizontal" method="post" {{ form_enctype(form) }}>
			<div class="form-body">
				{{ form_errors(form) }}
				<div class="form-group">
					{{ form_label(form.civility, form.civility, { 'label_attr': {'class': 'col-md-3 control-label'} }) }}
					<div class="col-md-4">
						{{ form_widget(form.civility, {'attr': {'class': 'form-control'}}) }}
						</select>
					</div>
				</div>
				<div class="form-group">
					{{ form_label(form.firstName) }}
					<div class="col-md-4">
						{{ form_widget(form.firstName, {'attr': {'class': 'form-control'}}) }}
					</div>
				</div>
				<div class="form-group">
					{{ form_label(form.lastName) }}
					<div class="col-md-4">
						{{ form_widget(form.lastName, {'attr': {'class': 'form-control'}}) }}
					</div>
				</div>
				<div class="form-group">
					{{ form_label(form.phone) }}
					<div class="col-md-4">
						{{ form_widget(form.phone, {'attr': {'class': 'form-control'}}) }}
					</div>
				</div>
				<div class="form-group">
					{{ form_label(form.email) }}
					<div class="col-md-4">
						{{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
					</div>
				</div>
				{{ form_rest(form) }}
			</div>
			<div class="form-actions">
				<div class="row">
					<div class="col-md-offset-3 col-md-9">
						<button type="submit" class="btn green">Envoyer</button>
						<button type="button" class="btn default">Annuler</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>
{% endblock %}